.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.computer__icon {
  width: 8rem;
  height: 8rem;
  filter: invert(100%);
}

.computer__icon:hover {
  filter: invert(1150%) sepia(93%) saturate(1352%) hue-rotate(87deg);
  cursor: pointer;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.header__navigation__item {
  text-decoration: none;
  color: #ffffff;
}

.header__navigation__item:hover {
  color: #acffff;
  text-decoration:underline;
}